<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admins/adminOrderManage.css">
    <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.0/dist/sweetalert2.min.css">
</head>

<body>
    <header>
        <div class="admin">Admin</div>
        <div class="logo">R&R <br> Wares</div>
        <div class="useless"></div>
    </header>
    <div class="options overflow-hidden d-flex">
        <div>
            <ul>
                <li><a href="/adminHome">Dashboard</a></li>
                <li><a href="/adminProductManage">Product Management</a></li>
                <li><a href="/adminCategoryManage">Category Management</a></li>
                <li><a href="/adminUserManage">User Management</a></li>
                <li><a href="#" class="head">Order Management</a></li>
                <li><a href="">Coupon Management</a></li>
            </ul>
            <div class="logout">
                <a href="/adminLogout">
                    <button type="submit" class="button">Logout</button>
                </a>
            </div>
        </div>
        <div class="container-fluid">
            <h1>Orders</h1><br>

            <div class="d-flex">
                <form action="/adminFilterProducts" method="get">
                    <input type="text" placeholder="Search by Name" name="Search" spellcheck="false" class="search"
                        required />
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass magnify"></i>
                    </button>
                </form>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box clearfix">
                        <div class="table-responsive hh">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th class="text-center"><span class="bg-white">No.</span></th>
                                        <th class="text-center"><span class="bg-white">Product</span></th>
                                        <!-- <th class="text-center"><span class="bg-white">User</span></th> -->
                                        <th class="text-center"><span class="bg-white">Quantity</span></th>
                                        <th class="text-center"><span class="bg-white">Price</span></th>
                                        <th class="text-center"><span class="bg-white">Update</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0;i<orders.length;i++){ %>
                                        <tr>
                                            <td class="align-middle text-center">
                                                <%= i+1 %>
                                            </td>
                                            <td class="text-center">
                                                <div class="d-flex bg-light">
                                                    <div class="product-image bg-light">
                                                        <img src="<%= orders[i].orderItems.images[0] %>"
                                                            alt="Product Image" class="img rounded-2 bg-light">
                                                    </div>
                                                    <div class="product-info bg-light">
                                                        <h2 class="bg-light">
                                                            <%= orders[i].orderItems.brand %>
                                                        </h2>
                                                        <p class="bg-light">
                                                            <%= orders[i].orderItems.pName %>
                                                        </p>
                                                        <p class="bg-light">
                                                            Order Id:<%=orders[i].orderItems._id %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <!-- <td class="align-middle text-center">
                                                <p class="mb-1 p-0">
                                                    <%= orders[i].userInfo.fullName %>
                                                </p>
                                                <p class="mb-1 p-0">
                                                    <%=orders[i].userInfo.email %>
                                                </p>
                                            </td> -->
                                            <td class="align-middle text-center">
                                                <%= orders[i].orderItems.units %>
                                            </td>
                                            <td class="align-middle text-center">
                                                <%= orders[i].orderItems.price * orders[i].orderItems.units %>
                                            </td>
                                            <td class="align-middle text-center">
                                                <form
                                                    action="/adminChangeOrderStatus?orderId=<%= orders[i]._id %>&productId=<%= orders[i].orderItems.productId %>"
                                                    class="changeStatus" method="post">
                                                    <div class="d-flex gap-3 bg-light">
                                                        <input type="text" name="filter" value="<%= filter?filter:'' %>"
                                                            hidden>
                                                        <% if ((orders[i].orderItems.orderStatus==="Delivered" ) ||
                                                            (orders[i].orderItems.orderStatus==="Cancelled" ) ) { %>
                                                            <p
                                                                class="me-2 bg-light <%= (orders[i].orderItems.orderStatus === 'Cancelled')?'text-danger':'text-success' %>">
                                                                <%= orders[i].orderItems.orderStatus %>
                                                            </p>
                                                            <% } else { %>
                                                                <div class="bg-light">
                                                                    <select name="orderStatus" id="filler"
                                                                        class="bg-white border-1 border-black">
                                                                        <option value="Ordered"
                                                                            <%=(orders[i].orderItems.orderStatus==="Ordered"
                                                                            )?"selected":"" %> >Ordered</option>
                                                                        <option value="Shipped"
                                                                            <%=(orders[i].orderItems.orderStatus==="Shipped"
                                                                            )?"selected":"" %> >Shipped</option>
                                                                        <option value="Delivered">Delivered</option>
                                                                        <option value="Cancelled">Cancelled</option>
                                                                    </select><br><br>
                                                                    <button
                                                                        class="filler bg-black text-white cText rounded-2 p-2">
                                                                        Change Status
                                                                    </button>
                                                                </div>
                                                                <% } %>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.0/dist/sweetalert2.all.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>